.card {
  list-style-type: none;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  height: 137px;
  width: 100%;
  border-radius: 12px;
}
.card-body {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.profession {
  font-weight: 600;
  font-size: 20px;
  color: var(--blue);
  cursor: pointer;
  &:hover {
    color: var(--dark-gray);
  }
}
.payment {
  font-weight: 600;
  font-size: 16px;
  &::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #7b7c88;
    margin: 0 12px 3px;
  }
}
.text {
  font-weight: 400;
  font-size: 16px;
}
.location {
  display: flex;
  gap: 12px;
}
.flex {
  display: flex;
}
.star {
  svg {
    cursor: pointer;
  }
}
.favorite {
  svg {
    fill: var(--blue);
    stroke: var(--blue);
  }
}
.hover-star {
  svg {
    &:hover {
      fill: var(--blue);
      stroke: var(--blue);
    }
  }
}
.hover-favorite-star {
  svg {
    &:hover {
      fill: none;
      stroke: #acadb9;
    }
  }
}
