.full-width {
  gap: 16px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 315px - 28px);
}
.flex {
  display: flex;
}
.wrapper {
  padding: 40px 13.3% 51px 13.3%;
}
@media (max-width: 1100px) {
  .flex {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .full-width {
    width: 100%;
  }
  .wrapper {
    padding: 40px 10% 51px 10%;
  }
}
