.home {
  max-width: 1440px;
  margin: 0 auto;
}
.full-width {
  gap: 16px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 315px - 28px);
}
.flex {
  display: flex;
}
.wrapper {
  padding: 40px 162px 51px 162px;
}
@media (max-width: 1150px) {
  .flex {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .full-width {
    width: 100%;
  }
  .wrapper {
    padding: 40px 10% 51px 10%;
  }
}
