.favorites {
  max-width: 1440px;
  margin: 0 auto;
}
.nothing {
  padding-top: 120px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.list-item {
  list-style: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 99px;
}
@media (max-width: 650px) {
  .center {
    margin-top: 40px;
  }
}
