.details {
  max-width: 1440px;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.details-body {
  border: 1px solid var(--light-gray);
  border-radius: 12px;
  background-color: var(--white);
  padding: 24px;
  ul,
  ol {
    padding-left: 12px;
  }
}

@media (max-width: 650px) {
  .details-body {
    font-size: 12px;
  }
}
